.chronicleButton {
    --chronicle-button-default-hover-color: #a594fd;
  
    border-radius: var(--chronicle-button-border-radius, 0.76rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    line-height: 1;
    padding: 1rem 1.232rem;
    cursor: pointer;
    border: none;
    font-weight: 700;
    background: var(--chronicle-button-background);
    color: var(--chronicle-button-foreground);
    transition: background .4s linear, color .4s linear;
    will-change: background, color;
  }
  
  .chronicleButton:hover {
    background: var(--hover-color);
  }
  
  .chronicleButton span {
    position: relative;
    display: block;
    perspective: 108px;
  }
  
  .chronicleButton span:nth-of-type(2) {
    position: absolute;
  }
  
  .chronicleButton em {
    font-style: normal;
    display: inline-block;
    font-size: 1.025rem;
    color: var(--chronicle-button-negative-foreground);
    will-change: transform, opacity, transition;
    transition: transform .55s cubic-bezier(.645,.045,.355,1), opacity .35s linear .2s;
  }
  
  .chronicleButton span:nth-of-type(1) em {
    transform-origin: top;
  }
  
  .chronicleButton span:nth-of-type(2) em {
    opacity: 0;
    transform: rotateX(-90deg) scaleX(.9) translate3d(0,10px,0);
    transform-origin: bottom;
  }
  
  .chronicleButton:hover span:nth-of-type(1) em {
    opacity: 0;
    transform: rotateX(90deg) scaleX(.9) translate3d(0,-10px,0);
  }
  
  .chronicleButton:hover span:nth-of-type(2) em {
    opacity: 1;
    transform: rotateX(0deg) scaleX(1) translateZ(0);
    transition: transform .75s cubic-bezier(.645,.045,.355,1), opacity .35s linear .3s;
  }
  
  .chronicleButton.outlined {
    background: transparent;
    border: 2px solid var(--chronicle-button-background);
    padding: calc(1rem - var(--outline-padding-adjustment)) 0;
    transition: border .4s linear, color .4s linear, background-color .4s linear;
    will-change: border, color;
  }
  
  .chronicleButton.outlined em {
    color: var(--text-color);
    transition: color .4s linear;
  }
  
  .chronicleButton.outlined:hover {
    background: var(--outlined-button-background-on-hover);
    border-color: var(--hover-color);
  }
  
  .chronicleButton.outlined span:nth-of-type(1) em,
  .chronicleButton.outlined span:nth-of-type(2) em {
    transition: color .4s linear;
  }
  
  .chronicleButton.outlined:hover span:nth-of-type(1) em,
  .chronicleButton.outlined:hover span:nth-of-type(2) em {
    color: var(--hover-color);
  }
  